@page
@using BoatLibrary.Objects;
@model HilleredSailors.Pages.Events.RegisterForEventsModel
@{
    ViewData["Title"] = "RegisterForeEvents";
}
@foreach (Event item in Model.eventRepo.GetAll())
{
    <h1>@item.header</h1>
    <h2>@item.Date</h2>
    @item.Description;


    <form method="post"  asp-route-i=" @item.Date.ToString()" asp-page-handler="AddMember">


        <div class="formgroup">
            <input type="submit" value="Book" class="btn btn-primary" />
        </div>
       
    </form>
}
